[include]
	path = ~/.gitconfig.local
[core]
	editor = emacs -nw
	preloadindex = true
	fscache = true
[push]
	default = simple
[color]
	status = auto
	branch = auto
[ghq]
	root = ~/src
[init]
	defaultBranch = main
[github]
	user = MiyamonY
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[gc]
	auto = 256
[rebase]
	autoStash = true
