#!/bin/sh

# setting for screen layout(layout.sh is created by arandr)
[ -f ~/.screenlayout/layout.sh ] && source ~/.screenlayout/layout.sh

# setting for input method
uim-xim &
uim-toolbar-gtk-systray &

# setting for keybind
setxkbmap -layout jp
xmodmap .Xmodmap

# setting for key repeat
xset r rate 200 40
