#!/bin/sh

# setting for screen layout(layout.sh is created by arandr)
[ -f ~/.screenlayout/layout.sh ] && source ~/.screenlayout/layout.sh

# setting for input method
export GTK_IM_MODULE='uim'
export QT_IM_MODULE='uim'
uim-xim &
export XMODIFIERS='@im=uim'

# setting for keybind
setxkbmap -layout jp
xmodmap .Xmodmap

# setting for key repeat
xset r rate 200 40
